<nav class="side-menu">
    <ul class="side-menu-list">
        <li class="blue-dirty">
            <a href="home">
                <span class="glyphicon glyphicon-home"></span>
                <span class="lbl">Inicio</span>
            </a>
        </li>
       	<li class="grey with-sub">
	            <span>
	                <span class="font-icon font-icon-users"></span>
	                <span class="lbl">Usuarios</span>
	            </span>
	            <ul>
	                <li><a href="#"><span class="lbl">Ver</span></a></li>
	                <li><a href="users/new"><span class="lbl">Nuevo</span></a></li>
	            </ul>
	    </li>
        <!-- <li class="aquamarine">
            <a href="contacts-page.html">
                <i class="font-icon font-icon-mail"></i>
                <span class="lbl">Contact form</span>
            </a>
        </li>
        <li class="blue">
            <a href="files.html">
                <i class="font-icon glyphicon glyphicon-paperclip"></i>
                <span class="lbl">File Manager</span>
            </a>
        </li>
        <li class="gold">
            <a href="gallery.html">
                <i class="font-icon font-icon-picture-2"></i>
                <span class="lbl">Gallery</span>
            </a>
        </li>
        <li class="red">
            <a href="project.html">
                <i class="font-icon font-icon-case-2"></i>
                <span class="lbl">Project</span>
            </a>
        </li>
    </ul>

    <section>
        <header class="side-menu-title">Tags</header>
        <ul class="side-menu-list">
            <li>
                <a href="#">
                    <i class="tag-color green"></i>
                    <span class="lbl">Website</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="tag-color grey-blue"></i>
                    <span class="lbl">Bugs/Errors</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="tag-color red"></i>
                    <span class="lbl">General Problem</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="tag-color pink"></i>
                    <span class="lbl">Questions</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="tag-color orange"></i>
                    <span class="lbl">Ideas</span>
                </a>
            </li> -->
        </ul>

</nav><!--.side-menu-->
