
<!DOCTYPE html>
<head lang="es">
<head>

    <%- include('../partials/resources.ejs'); %>
	<title>Sapma - Inicio</title>
</head>
<body class="with-side-menu">

	<%- include('../partials/nav.ejs'); %>

	<div class="mobile-menu-left-overlay "></div>
	<%- include('../partials/navlat.ejs'); %>
	</div>
	<div class="page-content">
		<div class="container-fluid">
			Blank page.
		</div><!--.container-fluid-->
	</div><!--.page-content-->

	<%- include('../partials/js.ejs'); %>

</body>
</html>